      	<h2 class="heading-medium">Good to know</h2>

			<ul class="list list-bullet">
				<li><a href="/gettingStarted">Your first week - getting set up</a></li>
				<li><a href="/location/longbenton/">Your office - getting here and facilities</a></li>
				<li><a href="/travelAndLeave">Travel or leave</a></li>
				<!--<li><a href="/keyContacts">Who to contact about...</a></li>-->
				<li><a href="/role/simon/">You at DWP</a></li>
				<li><a href="/howWeWork">How we work</a></li>
			</ul>
			<h2 class="heading-medium">Other things</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://www.gov.uk/dwp">
						DWP on GOV.UK
					</a>
				</li>
				<li><a href="https://dwpdigital.blog.gov.uk/">DWP digital blog</a></li>
				<li>
					<a href="https://www.gov.uk/civil-service">
						Working in the Civil Service
					</a>
				</li>
			</ul>
