      	<h2 class="heading-medium">Index</h2>

			<ul class="list list-bullet">
				<li><a href="/role">About you, your grade and role</a></li>
				<li><a href="/gettingStarted">Getting set up</a></li>
				<li><a href="/howWeWork">How we work</a></li>
				<li><a href="/travelAndLeave">Arranging travel or leave</a></li>
				<li><a href="/leedsOne">About Leeds ONE</a></li>
				<li><a href="/keyContacts">Who to contact about...</a></li>

			</ul>
			<h2 class="heading-medium">Other things</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://www.gov.uk/dwp">
						DWP on GOV.UK
					</a>
				</li>
				<li><a href="https://dwpdigital.blog.gov.uk/">DWP digital blog</a></li>
				<li>
					<a href="https://www.gov.uk/civil-service">
						Working in the Civil Service
					</a>
				</li>
			</ul>