.department-logo {
  margin: 15px 0;
  @include media(tablet) {
    margin: 30px 0;
  }
}
.department-logo .royal-crest {
  padding: 22px 0 0 5px;
  background-image: url(/public/images/crests/org_crest_13px.png);
  background-repeat: no-repeat;
  background-position: 5px top;
  background-size: auto 20px;
  display: block;
  border-left: 2px solid $department-for-work-pensions;
  font-size: 13px;
  line-height: 15px;
  @media (-webkit-min-device-pixel-ratio: 2) {
    background-image: url(/public/images/crests/org_crest_13px_x2.png);
  }
  @include media(tablet) {
    padding: 28px 0 0 8px;
    background-image: url(/public/images/crests/org_crest_18px.png);
    background-repeat: no-repeat;
    background-position: 8px top;
    background-size: auto 26px;
    display: block;
    border-left: 2px solid $department-for-work-pensions;
    font-size: 18px;
    line-height: 21px;
    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(/public/images/crests/org_crest_18px_x2.png);
    }
  }
  @include media(desktop) {
    padding: 42px 0 0 10px;
    background-image: url(/public/images/crests/org_crest_27px.png);
    background-repeat: no-repeat;
    background-position: 10px top;
    background-size: auto 40px;
    display: block;
    border-left: 2px solid $department-for-work-pensions;
    font-size: 27px;
    line-height: 30px;
    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(/public/images/crests/org_crest_27px_x2.png);
    }
  }

}
