{% extends "layout.html" %}

{% block page_title %}
  Getting started at DWP
{% endblock %}

{% block main_content %}

  <h1 class="heading-xlarge">Getting started</h1>

  <h2 class="heading-medium">Your first day</h2>
  <p>You should get:</p>
  	<ul class="list list-bullet">
  		<li>a staff number</li>
  		<li>a place to sit for the first few days at least</li>
  		<li>any kit you need immediately to do your job, including macbook</li>
      <li>wifi details for your floor or team</li>
  	</ul>
  	<p>If you don't have all of these by the end of the first day then remind your line manager for them on the morning of the second day.</p>
  <p>You should:</p>
    <ul class="list list-bullet">
      <li>set up a gmail account like {yourname}.digitaldwp@gmail.com</li>
      <li>set up <a href='http://www.slack.com'>slack (instant messaging)</a> on your machine</li>
      <li>join <a href="https://dwpdigital.slack.com/">the digitalDWP slack channel</a> and introduce yourself</li>
      <li><a href="https://www.gov.uk/design-principles">read the design principles</a></li>
      <li>create a <a href='http://www.trello.com'>trello account</a> for your digital DWP gmail - most design teams will track work using this</li>
      <li>ask for any regular meetings for your team and local user experience community and add them to your diary</li>
      <li>email ed.horsford@digital.cabinet-office.gov.uk from your gmail and asked to be added to the digital-service-designers@digital.cabinet-office.gov.uk</li>
      <li>make your own copy of this <a href='https://docs.google.com/spreadsheets/d/1MfZPkY-EEOYfcRa_YWdiznbnLU31GJlWX1MbOeybqZM/edit?usp=sharing'>DWP timesheet</a> and add it to your google drive - update this every day</li>
    </ul> 
  <p>Take some time to read back through these blogs on GOV.UK:</p>
  <ul class="list list-bullet">
        <li><a href='https://dwpdigital.blog.gov.ukk'>Digital DWP blog</a></li>
        <li><a href='https://userresearch.blog.gov.uk'>User research blog</li>
        <li><a href='https://designnotes.blog.gov.uk'>GDS Design blog</a></li> 
        </ul>   
  <h2 class="heading-medium">Your first week</h2>
  <p>You should get:</p>
  	<ul class="list list-bullet">
  		<li>a pass for the office</li>
      <li>an orientation to your site</li>
  		<li>an introduction to some people working in similar roles</li>
      <li>a smart card to sign on to DWP desktop machines and secure laptops</li>
      <li>a dwp.gsi.gov.uk email account - only accessible from DWP desktops or secure laptop</li>
      <li>access to RM, the employee resource management software</li>
  	</ul>
  <p>If you don't have all of these by the end of the first week then ask your line manager.</p>
  <p>
  <p>Once you have your smart card you should:</p>
    <ul class="list list-bullet">
      <li>explore RM from a DWP laptop or desktop - this is where you submit expenses etc</li>
      <li>add your bank details through RM - if you don't your salary may be delayed</li>
      <li>email cd.businesstravelpolicyteam@dwp.gsi.gov.uk from your gsi email, including your staff number, and ask them to set up a www.trips.uk.com account - this is where you'll book work travel and accommodation</li>
      <li>join the GOV.UK wide slack channel, you will need to use your gsi address to do this and then change it</li>
    </ul> 
    <h2>Other things</h2>
  <p>Once you have a staff number and email you may also want to look at learning and development opportunities:</p>
  <ul class="list list-bullet">
    <li>in <a href="https://civilservicelearning.civilservice.gov.uk/">the Civil Service</a></li>
    <li>in the <a href="http://intralink/team-sites/business-transformation/digital-academy/DWP_T837842.asp#TopOfPage">DWP digital academy</a></li>
  </ul>
  <p>You may like to follow these twitter accounts for a start:</p>
  <ul class="list list-bullet">
    <li>@BenHolliday - head of user experience</li>
    <li>@kevincunnington - head of Business Transformation</li>
    <li>@DigitalDWP</li>
    <li>@GDSteam</li>
  </ul>

  <h2 class="heading-medium">Questions</h2>
	<p>If you're asked to set up something you're not sure about then ask your line manager or someone in your team.</p>
  
{% endblock %}
