{% extends "layout.html" %}

{% block page_title %}
  Getting started at DWP
{% endblock %}

{% block main_content %}

  <h1 class="heading-xlarge">Getting started</h1>

  <h2 class="heading-medium">Your first day</h2>
  <p>You should get:</p>
  	<ul class="list list-bullet">
  		<li>a staff number</li>
  		<li>a place to sit for the first few days at least</li>
  		<li>any kit you need immediately to do your job, including laptop</li>
  		<li>a smart card to sign on to DWP desktop machines and secure laptops</li>
  		<li>a dwp.gsi.gov.uk email account - only accessible from DWP desktops or secure laptop</li>
      <li>wifi details for your floor or team</li>
  	</ul>
  	<p>If you don't have all of these by the end of the first day then remind your line manager for them on the morning of the second day.</p>
  <p>You should do:</p>
    <ul class="list list-bullet">
      <li>set up a gmail account like {yourname}.digitaldwp@gmail.com</li>
      <li>join the digitalDWP slack channel, dwpdigital.slack.co.uk</li>
      <li>set up the slack application on your machine</li>
      <li>read the design principles</li>
      <li>create a trello account if you don't already have one</li>
      <li>ask for any regular meetings for your team and local user experience community and add them to your diary</li>
    </ul>    
  <h2 class="heading-medium">Your first week</h2>
  <p>You should get:</p>
  	<ul class="list list-bullet">
  		<li>a pass for the office</li>
      <li>an introduction to your site</li>
  		<li>a timesheet to record hours worked, flexi-time and leave</li>
  		<li>your own laptop or desktop machine</li>
  		<li>an introduction to people working in similar roles</li>
  		<li>access to RM, the employee resource management software</li>
  	</ul>
  <p>If you don't have all of these by the end of the first week then ask your line manager.</p>
  <p>You should do:</p>
    <ul class="list list-bullet">
      <li>explore RM - this is where you submit expenses etc</li>
      <li>added your bank details through RM - if you don't your salary may be delayed</li>
      <li>created a tRips account to book travel and accommodation</li>
      <li>joined the GOV.UK wide slack channel, you will need to use your gsi address to do this and then change it</li>
      <li>emailed ed.horsford@digital.cabinet-office.gov.uk from your gmail and asked to be added to the government wide design email group</li>
      <li>gone to at least one meeting with the other UX people in your hub</li>
    </ul>  
  <p>Once you have a staff number and email you may also want to look at learning and development opportunities:</p>
  <ul class="list list-bullet">
    <li>in <a href="https://civilservicelearning.civilservice.gov.uk/">the Civil Service</a></li>
    <li>in the <a href="http://intralink/team-sites/business-transformation/digital-academy/DWP_T837842.asp#TopOfPage">DWP digital academy</a></li>
  </ul>

  <h2 class="heading-medium">Questions</h2>
	<p>If you're asked to set up something you're not sure about then ask your line manager or someone in your team.</p>
  
{% endblock %}
