{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Getting started</h1>
      <p>On your first day your line manager will give you:</p>
      	<ul class="list list-bullet">
      		<li>a staff number</li>
      		<li>a place to sit for the first few days at least</li>
      		<li>any kit you need immediately to do your job</li>
      		<li>a smart card to log on to DWP desktop machines and secure laptops</li>
      		<li>a dwp.gsi.gov.uk email account - only accessible from DWP desktops or secure laptop</li>
      	</ul>
      	<p>If you don't have all of these by the end of the first day then ask your line manager or work colleagues.</p>
      <p>In the first week you should also be given:</p>
      	<ul class="list list-bullet">
      		<li>a pass for the office</li>
      		<li>a timesheet to record hours worked, flexi-time and leave</li>
      		<li>your own laptop or desktop machine</li>
      		<li>an introduction to people working in similar roles</li>
      		<li>access to RM, the employee resource management software</li>
      	</ul>
      <p>If you don't have all of these by the end of the first week then ask your line manager.</p>
      <p>You may need to set up:</p>
      	<ul class="list list-bullet">
      		<li>a tRips account and account to book staff travel and accommodation online - find out how on RM</li>
      		<li>a gmail account using google (depending on which team you're working in)</li>
      		<li>online accounts for collaborative tools, eg skype or Slack</li>
      		<li>your payment details using RM</li>
      	</ul>
      	<p>If you're asked to set up something you're not sure about then ask your line manager or someone in your team.</p>
      	<p>Once you have a staff number and email you may also like to look at learning and development opportunities:</p>
      	<ul class="list list-bullet">
      		<li>in <a href="https://civilservicelearning.civilservice.gov.uk/">the Civil Service</a></li>
      		<li>at DWP through <a href="http://intralink/team-sites/business-transformation/digital-academy/DWP_T837842.asp#TopOfPage">the digital academy intranet</a></li>
      	</ul>
	<h2 class="heading-medium">Index</h2>

			<ul class="list list-bullet">
				<li><a href="/role">About you, your grade and role</a></li>
				<li><a href="/gettingStarted">Getting set up</a></li>
				<li><a href="/howWeWork">How we work</a></li>
				<li><a href="/travelAndLeave">Arranging travel or leave</a></li>
				<li><a href="/leedsOne">About Leeds ONE</a></li>
				<li><a href="/keyContacts">Who to contact about...</a></li>

			</ul>

      <h2 class="heading-medium">Other things</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://www.gov.uk/dwp">
						DWP on GOV.UK
					</a>
				</li>
				<li><a href="https://dwpdigital.blog.gov.uk/">DWP digital blog</a></li>
				<li>
					<a href="https://www.gov.uk/civil-service">
						Working in the Civil Service
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


