{% extends "layout.html" %}

{% block page_title %}
  How we work at DWP
{% endblock %}

{% block main_content %}

  <h1 class="heading-xlarge">How we work</h1>
  <p>DWP business transformation group works to 'agile' principles.</p>
  <p>If you've never worked in an agile environment before it involves working at pace, usually releasing new features every 2 weeks.</p>
	<p>You'll be expected to join in with agile 'ceremonies'. These include:</p>
  <ul class="list list-bullet">
  	<li>daily stand ups - 10 minutes every morning when you tell the team what you'll be working on that day</li>
  	<li>fortnightly 'show and tells' where you demonstrate to the team and others what you've produced in the last two weeks</li>
  	<li>fortnightly 'retros' where you examine with the team what went well, what went wrong and what you can do differently next time</li>
  </ul>
	<p>Each of your teams will work differently and be made up of slightly different people and skills.</p>
	<p>You'll work most closely with user researchers and interaction designers.</p>

	<p>Agile teams sit and work together but you won't necessarily have a permanent desk. You can get a locker if you need one.</p>
	<h2 class="heading-medium">Other user experience people</h2>
	<p>You'll have regular meetings with the user experience community across DWP.</p>
	<p>Other user experience roles include:</p>
	<ul class="list list-bullet">
		<li>interaction designers</li>
		<li>user researchers</li>
		<li>content designers</li>
	</ul>
	<p>Your head of role will let you know when these are happening and where.</p>
	<p>As well as collaborating in the office individuals are expected to join the government-wide digital community, and are encouraged to blog and speak publicly about the work we are doing to improve government services.</p>
	<h2 class="heading-medium">Locations</h2>
	<p>DWP has a 'hub' strategy for delivering digital services. This means there are several large offices delivering several services from each.</p>
	<p>Your home hub is <strong>Leeds ONE</strong> but you may need to go to the other hubs on occasion. These are:</p>
	<ul class="list list-bullet">
		<li>Newcastle</li>
		<li>Longbenton</li>
		<li>Caxton House</li>
	</ul>

{% endblock %}
