{% extends "layout.html" %}

{% block main_content %}

  <h1 class="heading-xlarge">Welcome to DWP Business Transformation Group</h1>
  <p>You're due to start your job as a content designer with Department for Work and Pensions on 10 May 2016.</p>
  <h2 class="heading-medium">On your first day</h2>
  <p>Your first day will start at <a href="/location/leedsONE/">Leeds ONE, City Office Park, LS11 5BD</a> at 9:30am.</p>
  <p>On arrival, call Melanie Cannon, Mob: 0781 624 8828</p>
  <p>You'll be given everything else you need on your first day, including a laptop.</p>
  <p>Dress code in your team is casual. It's acceptable to wear clean jeans, t-shirt and trainers if you wish. Just don't wear clothes displaying political slogans or sports team logos.</p>

{% endblock %}
