{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Welcome to DWP Business Transformation Group</h1>
      <p>You're due to start your job as {Senior Content Designer} with Department for Work and Pensions on 29 Feburary 2016.</p>
      <p>Keep this guide with you for your first few days - it will help you get set up in your role.</p>
      <h2 class="heading-medium">On your first day</h2>
      <p>Your first day will be at Leeds ONE, LS1 at 9:30am.</p>
      <p>On arrival go to reception and ask for Ben Holliday.</p>
      <p>If you have any problems, phone human resources on 0161 303 9955.</p>
	{% include "includes/otherLinks.html" %}

    </div>
  </div>
</main>

{% endblock %}


