{% extends "layout.html" %}

{% block main_content %}

  <h1 class="heading-xlarge">Welcome to DWP Business Transformation Group</h1>
  <p>You're due to start your job as a content designer with Department for Work and Pensions on 29 March 2016.</p>
  <h2 class="heading-medium">On your first day</h2>
  <p>Your first day will start at <a href="/location/longbenton/">Benton Park View, Newcastle</a> at 9:30am.</p>
  <p>On arrival, call Tom Adams, Mob: 0789 126 4474</p>
  <p>If you can't get through try Gavin Elliot, Mob: 0790 814 0132</p>
  <p style='font-weight:700'>Bring a passport photo with you - this will be used on your site pass.</p>
  <p>You'll be given everything else you need on your first day, including a laptop.</p>
  <p>Dress code in your team at Longbenton is casual. It's acceptable to wear clean jeans, t-shirt and trainers if you wish. Just don't wear clothes displaying political slogans or sports team logos.</p>

{% endblock %}
