{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Welcome to DWP</h1>

	<h2 class="heading-medium">Index</h2>

			<ul class="list list-bullet">
				<li><a href="/role">Your role</a></li>
				<li><a href="/gettingStarted">Getting set up</a></li>
				<li><a href="/howWeWork">How we work</a></li>
				<li><a href="/travelAndLeave">Arranging travel or leave</a></li>
				<li><a href="/leedsOne">About Leeds ONE</a></li>
				<li><a href="/keyContacts">Who to contact about...</a></li>

			</ul>

      <h2 class="heading-medium">Other things</h2>

			<ul class="list list-bullet">
				<li>
					<a href="http://www.GOV.UK">
						GOV.UK
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/dwp">
						About DWP
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/civil-service">
						Working in the Civil Service
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


