{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block main_content %}

  <h1 class="heading-xlarge">People you need to know</h1>
  <h2 class="heading-medium">Your line manager: Tom Adams</h2>
  <p>Usually to be found: Floor 1, Leeds ONE. Turn right out of the stairs, sitting with Access To Work.</p>
  <p>Tel: 0789 126 4474></p>
  <h2 class="heading-medium">Senior Content Designer: Melanie Cannon</h2>
  <p>Usually to be found: Floor 1, Leeds ONE. Turn right out of the stairs, sitting in the far corner.</p>
  <p>Tel: 0789 126 4474></p>
  <h2 class="heading-medium">Office manager: Dawn Roberts</h2>
  <p>Contact Dawn if you lose your pass or data card and for any other office enquiries</p>
  <p>Usually to be found: Floor 1, turn right out the stairs, in open plan office straight ahead.</p>
  <p>Tel: 0789 126 4474></p>
  <h2 class="heading-medium">IT help</h2>
  <p>Usually to be found: Floor 1, Leeds ONE. Turn left out of the stairs.</p>
  <h2 class="heading-medium">Head of user experience: Ben Holliday</h2>
  <p>Usually to be found: Works across the hubs.</p>
  <p>Tel: 0789 126 4474></p>
  
{% endblock %}
