{% extends "govuk_template.html" %}

{% set serviceName = "Welcome to DWP" %}

{% block page_title %}Welcome to DWP{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% block main_content %}{% endblock %}
    </div>
    <div class="column-third">
      {% include "includes/otherLinks.html" %}
    </div>
  </div>
</main>
{% endblock %}
