{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Leeds ONE</h1>
      <p>Leeds ONE is one of 4 digital hubs.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2356.9618659931252!2d-1.5433185398263114!3d53.79016625971525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1455109263610" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p>Leeds ONE is located on the corner of the A61 and Meadow Lane.</p>
      <h2 class="heading-medium">From the train station</h2>
      <p>The office is a 10 minute walk from Leeds mainline station.<br />
      Exit the station by the main entrance by M&S.<br />
      Go straight across the road to the bike shop.<br />
      Take the stairs down, immediately to the right of the shop.<br />
      Turn right and walk under the rail bridge.<br />
      Cross the road at the crossing after the Marriott hotel.<br />
      Turn right after crossing and carry on walking along the main road on the other side, it crosses the River Aire and bends to the left, then passes Asda HQ on the left.<br />
      You will see Leeds ONE diagonally across the main junction - use the pedestrian crossings to cross to it.</p> 
      <h2 class="heading-medium">If you arrive by car</h2>
      <p>There's no parking for staff at Leeds ONE. You can park at the Tetley building for £7 a day.</p>
      <h2 class="heading-medium">Getting in and out</h2>
      <p>You must sign in as a visitor each morning until you have a buildings pass.</p>
      <p>Visitor passes will only work in the gate to the far right of reception as you come in. Once inside your visitor pass will open the security doors on each floor of the building.</p>
      <p>If you're going for lunch and intending to come back to the office don't put your pass in the slot on the gate. Ask the concierge to let you through the gate and hand your pass to them, making sure you remember your pass number beforehand. You won't have to sign in again when you return.</p>
      <p>At the end of the day, put your visitor pass in the slot on the visitor's only gate. The gate will open but will retain your pass. You don't need to sign out.</p>
      <h2 class="heading-medium">Toilets</h2>
      <p>Female and male toilets are located on each landing of the main central stair well (behind reception and through two sets of double doors).
       <h2 class="heading-medium">Eating and drinking</h2>
       <p>There is a Costa coffee stand immediately behind reception.</p>
       <p>Kitchen areas are located on each floor, and are equipped with fridge, kettle and microwave.</p>
       <p>Turn left out of the main entrance for the Crown Point shopping centre. There is a Boots outlet that sells a small selection of sandwiches, a small cafe upstaris in the Asda homeware store and a Subway fast food restaurant.</p>
       <p>Turn right out of the building and head towards the large silver sky high rise building (Bridgwater Place) to find a Tesco metro, Philpotts sandwich delicatessen and an oriental lunch time takeaway 'Juici Sushi'.</p>


	<h2 class="heading-medium">Index</h2>

			<ul class="list list-bullet">
				<li><a href="/role">Your role</a></li>
				<li><a href="/gettingStarted">Getting set up</a></li>
				<li><a href="/howWeWork">How we work</a></li>
				<li><a href="/travelAndLeave">Arranging travel or leave</a></li>
				<li><a href="/leedsOne">About Leeds ONE</a></li>
				<li><a href="/keyContacts">Who to contact about...</a></li>

			</ul>

      <h2 class="heading-medium">Other things</h2>

			<ul class="list list-bullet">
				<li>
					<a href="http://www.GOV.UK">
						GOV.UK
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/dwp">
						About DWP
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/civil-service">
						Working in the Civil Service
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


