{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block main_content %}

  <h1 class="heading-medium">Pages</h1>
  <ul>
    <li><a href="/role/tom/">Tom's page</a></li>
    <li><a href="/role/linda/">Linda's page</a></li>
    <li><a href="/role/donna/">Donna's page</a></li>
    <br />
    <li><a href="/gettingStarted/">Getting started</a></li>
    <li><a href="/travelAndLeave/">Travel and leave</a></li>
    <li><a href="/location/leedsone/">About Leeds One</a></li>
    <li><a href="/howWeWork/">How we work</a></li>
    <li><a href="/keyContacts/">Key Contacts</a></li>
  </ul>

{% endblock %}
