{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Your job</h1>

	<h2 class="heading-medium">You</h2>
	<p><strong>Job title:</strong> Senior content designer<br/>
	<strong>Civil service grade:</strong> 7<br />
	<strong>Section:</strong> User Experience and Design<br />
	<strong>Directorate:</strong> Business Transformation Group<br />
	<strong>First pay date:</strong> 29 February 2016</p>
	<p><strong>Your manager:</strong> Ben Holliday, 0789 123 4567</p>
	<h2 class="heading-medium">Your role</h2>
	<p>As a senior content designer you're expected to create content to support the DWP's digital portfolio of services and DWP content on GOV.UK.</p>
	<p>You will be assigned to specific services and work as part of an agile team in each service you work on.</p>
	<p>You main office is <strong>Leeds ONE</strong>, but you may be expected to travel to DWP offices in:</p>
	<ul class="list list-bullet">
		<li>Newcastle, Longbenton</li>
		<li>London, Caxton House</li>
		<li>Leeds, Quarry House</li>
	</ul>
	<p>Your work will involve line managing 3 staff.</p>

      <h2 class="heading-medium">Other things</h2>

			<ul class="list list-bullet">
				<li>
					<a href="http://www.GOV.UK">
						GOV.UK
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/dwp">
						About DWP
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/civil-service">
						Working in the Civil Service
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


