{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block main_content %}

  <pre style="color:red;margin-top:10px;">{{ user.error }}</pre>

  <h1 class="heading-xlarge">{{ user.name }} at DWP</h1>
  <p>
    <b style="font-weight:700">Job title:</b> {{ user.job_title }}<br/>
  	<b style="font-weight:700">Civil service grade:</b> {{ user.grade }}<br />
  	<b style="font-weight:700">Salary:</b> {{ user.salary }}<br />
  	<b style="font-weight:700">You'll next be paid on:</b> {{ user.pay_date }}<br />
    <b style="font-weight:700">Annual leave:</b> {{ user.annual_leave }} days a year
  </p>
  <p>
    <b style="font-weight:700">Section:</b> {{ user.section }}<br />
    <b style="font-weight:700">Directorate:</b> {{ user.directorate }}<br />
    <b style="font-weight:700">Your manager:</b> {{ user.manager.name }} {{ user.manager.phone }}
  </p>

  <h2 class="heading-medium">Your office</h2>
  <p>Your main office is <strong style="color:#005ea5">{{ user.office }}</strong> but you may be expected to travel to DWP offices in:</p>
  <ul class="list list-bullet">
    {% for item in general.offices %}
        {% if item != user.office %}
            <li>{{ item }}</li>
        {% endif %}
    {% endfor %}
  </ul>

  <h2 class="heading-medium">Your role</h2>
  {% for item in user.role %}
    <p>{{ item }}</p>
  {% endfor %}

{% endblock %}
