{% extends "layout.html" %}

{% block page_title %}
  Travel and leave at DWP
{% endblock %}

{% block main_content %}

      <h1 class="heading-xlarge">Travel and leave</h1>
      <h2 class="heading-medium">Expenses</h2>
      <p>You don't have to pay for your travel if both:</p>
      	<ul class="list list-bullet">
      		<li>you're working in any location (incuding other DWP offices) apart from your named main office</li>
      		<li>the travel required isn't part of your regular daily travel to work</li>
      	</ul>
      <p>You can claim accommodation if travelling the same day is impractical.</p>
      <p>You can claim up to £5 a day for lunch and £16 for an evening meal if away for work - make sure to keep your receipts.</p>
      <h2 class="heading-medium">Booking transport and hotels</h2>
      	<p>Book all travel and accommodation using the trips online booking system if you can. It's far simpler and quicker than paying for it yourself and claiming it back as expenses.</p>
      	<p><b>Trips website:</b> <a href="https://www.trips.uk.com/js/SABS/Corporate.html">www.trips.uk</a><br />
      	<b style="font-weight:700">Your cost code (needed for booking):</b> 173013</p>
      	<p>If you don't have a trips account the instructions for how to get one are on RM.</p>
      	<p>

        <h2 class="heading-medium">Time spent travelling</h2>
        <p>Time spent travelling out of hours (which includes your regular journey to work) can be claimed as flexitime.</p>
        <p>For example if you need to catch a train at 6:30am but normally travel on the 8am train then you can claim 1 hour and 30 minutes flexitime.</p>
      <h2 class="heading-medium">Booking leave</h2>
      <p>You have an annual holiday allowance. You're also entitled to claim back any hours you've worked out of your normal hours as flexi leave.</p>
      <p>If you want to book leave or take flexi you must tell:</p>
      <ul class="list list-bullet">
        <li>your line manager</li>
        <li>the service manager of any services you're working on</li>
      </ul>
       <p>Your line manager will give you a leave form on your first day to fill in.</p>
       <p>You should ask for leave at least 2 weeks in advance of taking it.</p>
      <p>Check with your line manager who to put in your out of office reply on your email if taking leave.</p>

{% endblock %}
