{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Travel and leave</h1>
      <p>You can claim expenses for travel if both:</p>
      	<ul>
      		<li>you're working in any location (incuding other DWP offices) apart from your named main office</li>
      		<li>the travel required is not your regular commute to work</li> 
      	</ul>
      <p>You can claim accommodation if necessary for work, but must use the approved accommodation if possible.</p>
      	<h2 class="heading-medium">Time spent travelling</h2>
      	<p>Time spent travelling out of hours (which includes your regular journey to work) can be claimed as flexitime.</p>
      	<p>For example if you need to catch a train at 6:30am but normally travel on the 8am train then you can claim 1hr 30 minutes flexitime.</p>
      <h2 class="heading-medium">Booking transport and hotels</h2>
      	<p>Book all work related travel and accommodation using the trips online booking system.</p>
      	<p><b>Trips website:</b> <a href="https://www.trips.uk.com/js/SABS/Corporate.html">www.trips.uk</a><br />
      	<b>Your costcode:</b> XXXXXXXXX</p>
      	<p>If you don't have a trips account the instructions for how to get one are on RM.</p>
      	<p>
      <h2 class="heading-medium">Booking transport and hotels</h2>

      <p>Your line manager will give you a leave form.</p>
      <p> When you want to book leave you must ask
{% include "includes/otherLinks.html" %}

    </div>
  </div>
</main>

{% endblock %}


